# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.mypy_cache/
.ruff_cache/

# EchoMV local data
services/api/data/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Editors
.idea/
.vscode/
*.swp
